*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  /* background-color: black; */
}
body{
  height: 100vh;
  width: 100vw;
  /* background-color: black;  */
}
.main{
  height: 100%;
  width: 100%;
  /* background-color: black;  */
  overflow-y: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .recipeDetailDiv{
    flex-direction: row;
  }
  .cartCard{
    flex-direction: row;

  }
  .mealHistory{
    flex-direction: row;
    align-items: normal;
  }
  .mealHistoryCard{
    width: 400px;
    
  }

  .mealHistoryCard1{
    width: 400px ;
    height: fit-content;
    
  }

  .mealPlanHistory{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    
  }

  .introCard{
    height: 75%;
    flex-direction: row;
  }
  .introCardText{
    width: 50%;
  }
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}




